@using GreenCoinHealth.Client.Shared
@using Microsoft.AspNetCore.Components.Authorization
@using System.Security.Claims
@inject NavigationManager navManager

<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                <NotAuthorized>
                    @{
                        // Verificar si el usuario está autenticado
                        if (context.User.Identity?.IsAuthenticated ?? false)
                        {
                            // Obtener los roles del usuario
                            var roles = ((ClaimsIdentity)context.User.Identity)?.Claims
                            .Where(c => c.Type == ClaimTypes.Role)
                            .Select(c => c.Value)
                            .ToList();

                            // Redirigir según los roles del usuario
                            if (roles.Contains("Usuario"))
                            {
                                navManager.NavigateTo("/usuario", forceLoad: true);
                            }
                            else if (roles.Contains("Administrador"))
                            {
                                navManager.NavigateTo("/administrador", forceLoad: true);
                            }
                            else
                            {
                                <p class="alert alert-danger">No está autorizado para ver esta página.</p>
                            }
                        }
                        else
                        {
                            // Si el usuario no está autenticado, redirigir a la página de inicio de sesión
                            navManager.NavigateTo("/login", forceLoad: true);
                        }
                    }
                </NotAuthorized>
                <Authorizing>
                    <p>Cargando...</p>
                </Authorizing>
            </AuthorizeRouteView>

        </Found>
        <NotFound>
            <PageTitle>Not found</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <p role="alert">Sorry, there's nothing at this address.</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>
