@page "/counter"
@using GreenCoinHealth.Shared.Models;
@using System.Text.Json;
@inject HttpClient httpClient
<h1>Lista de Dietas</h1>

<table class="table">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Descripción</th>
            <th>Alimentos</th>
        </tr>
    </thead>
    <tbody>
        @if (Dietas != null)
        {
            @foreach (var dieta in Dietas)
            {
                <tr>
                    <td>@dieta.Nombre</td>
                    <td>@dieta.Descripcion</td>
                    <td>
                        @foreach (var alimento in JsonSerializer.Deserialize<List<Alimentos>>(dieta.Alimentolist))
                        {
                            <ul>
                                <li>@alimento.Nombre</li>
                            </ul>
                        }
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="3">Cargando...</td>
            </tr>
        }
    </tbody>
</table>

@code {
    private List<Dieta> Dietas { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Dietas = await httpClient.GetFromJsonAsync<List<Dieta>>("/api/Dietas/");
    }
}