@page "/login"
@layout LoginLayout

@inject HttpClient httpClient
@using GreenCoinHealth.Client.Shared
@using GreenCoinHealth.Client.Extensions
@using GreenCoinHealth.Shared
@using Microsoft.AspNetCore.Components.Authorization
@using System.Security.Claims;
@inject AuthenticationStateProvider autenticacionProvider
@inject NavigationManager navManager
<link href="css/Login.css" rel="stylesheet">
<script src="js/olvidoContraseña.js"></script>

<section class="h-100 gradient-form" style="background-color: #eee;">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-xl-10">
                <div class="card rounded-3 text-black">
                    <div class="row g-0">
                        <div class="col-lg-6">
                            <div class="card-body p-md-5 mx-md-4">

                                <div class="text-center">
                                    <img src="https://i.pinimg.com/736x/58/4d/6c/584d6c8a1330c879d674b53ef2c6ef37.jpg"
                                         style="width: 185px;" alt="logo">
                                    <h4 class="mt-1 mb-5 pb-1">Somos GreenCoinHealth</h4>
                                </div>

                                <form>
                                    <div class="text-center mb-4">
                                        <h3>Login</h3>
                                    </div>

                                    <div data-mdb-input-init class="form-outline mb-4">
                                        <label class="form-label" for="form2Example11">Correo</label>
                                        <input type="email" id="form2Example11" class="form-control" placeholder="Correo electrónico" @bind="login.Email" />
                                    </div>

                                    <div data-mdb-input-init class="form-outline mb-4">
                                        <label class="form-label" for="form2Example22">Contraseña</label>
                                        <input type="password" id="form2Example22" class="form-control" placeholder="Contraseña" @bind="login.Password" />
                                    </div>
                                    <button type="button" class="btn btn-link" onclick="OlvidoContrasena()">¿Olvidaste tu contraseña?</button>
                                    <div class="text-center pt-1 mb-5 pb-1">
                                        <button @onclick="IniciarSesion" class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" type="button">
                                            Login
                                        </button>
                                        

                                    </div>               
                                </form>
                            </div>
                        </div>
                        <div class="col-lg-6 d-flex align-items-center gradient-custom-2">
                            <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                                <h4 class="mb-4">Come inteligente, vive fuerte</h4>
                                <p class="small mb-0">
                                    "¡Bienvenido a GreenCoinHealth, tu nuevo aliado en el camino hacia un estilo de vida más saludable! 
                                    Aquí encontrarás rutinas personalizadas y dietas balanceadas diseñadas para adaptarse a tus necesidades 
                                    y objetivos. Ya sea que busques perder peso, ganar masa muscular o simplemente mantenerte en forma, 
                                    nuestro compromiso es acompañarte en cada paso de tu jornada. Con consejos expertos y apoyo constante,
                                    te ayudamos a alcanzar tus metas de bienestar. Empieza hoy y transforma tu vida con cada plato y cada movimiento."
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@code {
    private LoginDTO login = new LoginDTO();

    private async Task IniciarSesion()
    {
        var loginResponse = await httpClient.PostAsJsonAsync<LoginDTO>("/api/Autentication/Login", login);
        if (loginResponse.IsSuccessStatusCode)
        {
            var sesionUsuario = await loginResponse.Content.ReadFromJsonAsync<SessionDTO>();
            var autenticacionExt = (AuthExtension)autenticacionProvider;
            await autenticacionExt.ActualizarEstadoAutenticacion(sesionUsuario);

            // Obtener el rol del usuario
            var user = (await autenticacionProvider.GetAuthenticationStateAsync()).User;
            var roles = user.Claims.Where(c => c.Type == ClaimTypes.Role).Select(c => c.Value).ToList();

            // Redireccionar basado en el rol
            if (roles.Contains("Nutricionista"))
            {
                navManager.NavigateTo("/nutricionista");
            }
            else if (roles.Contains("Usuario"))
            {
                navManager.NavigateTo("/usuario");
            }
            else if (roles.Contains("Administrador"))
            {
                navManager.NavigateTo("/ManageUser");
            }
            else
            {
                navManager.NavigateTo("/"); // Redirigir a la página de inicio por defecto
            }
        }
       
    }
    private void OlvidoContrasena()
    {
        navManager.NavigateTo("/ForgetPassword");
    }
}
